/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo base de la barra de navegación */
header nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    transition: all 0.3s ease;
}

header nav.scrolled {
    padding: 5px 0; /* Cambiar padding cuando se hace scroll */
    background-color: rgba(51, 51, 51, 0.9); /* Hacerla un poco transparente */
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin: 0;
    transition: padding 0.3s ease;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a.active {
    color: #f39c12;
}

header nav ul li a:hover {
    color: #f39c12;
}


/* Secciones */
section {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
}

/* Estilos para las secciones */
section {
    opacity: 0; /* Iniciar con opacidad 0 */
    transition: opacity 0.5s ease-in-out; /* Transición suave para la opacidad */
    position: relative; /* Para el efecto de deslizamiento */
    height: 100vh; /* Asegura que cada sección ocupe toda la altura de la vista */
}

/* Cuando la sección está en el viewport */
section.visible {
    opacity: 1; /* Mostrar con opacidad completa */
}

/* Estilos para la sección de introducción */
.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 100vh; /* Se ajusta al tamaño de la pantalla */
    background-color: #333;
    color: white;
}

.intro-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.intro-image img {
    border-radius: 0%;
    width: 250px;
    height: 360px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.intro-text h1 {
    font-size: 5rem;
    margin: 0;
    padding: 0;
    color: #f39c12;
    text-align: right;
}

#about {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#projects {
    background-color: #eaeaea;
    padding: 40px;
    border-radius: 8px;
}

.project {
    margin-bottom: 20px;
}

.project a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    color: #f39c12;
}

/* Formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f39c12;
}

button, a {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

@media screen and (max-width: 768px) {
    /* Ajustar para pantallas más pequeñas */
    .intro-section {
        flex-direction: column;
        text-align: center;
    }

    .intro-image img {
        margin-bottom: 20px;
    }

    .intro-text h1 {
        font-size: 3rem;
    }
}
