/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo base de la barra de navegación */
header nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    transition: all 0.3s ease;
}

header nav.scrolled {
    padding: 5px 0; /* Cambiar padding cuando se hace scroll */
    background-color: rgba(51, 51, 51, 0.9); /* Hacerla un poco transparente */
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin: 0;
    transition: padding 0.3s ease;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a.active {
    color: #f39c12;
}

header nav ul li a:hover {
    color: #f39c12;
}


/* Secciones */
section {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
}

#about {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#projects {
    background-color: #eaeaea;
    padding: 40px;
    border-radius: 8px;
}

.project {
    margin-bottom: 20px;
}

.project a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    color: #f39c12;
}

/* Formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f39c12;
}

button, a {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
